
<br><div class="ui grid">
  <div class="three wide column"></div>
  <div class="ten wide column">

    <h1 class="ui huge header">Ember Library App</h1>

    <div class="ui raised segment" >
      <br>
      <div class="ui large input">
        {{input value=title placeholder="Add Book..." enter=(action "add" title)}}
      </div>
      <div class="ui hidden divider"></div>
        {{#each model as |item|}}
          {{#ui-accordion class="styled"}}
            <div class="title">
              {{item.title}}
            </div>
            <div class="content">
              <div class="ui input">
                {{input value=edited placeholder="Change Text..." enter=(action "edit" item edited)}}
              </div> <button class="ui primary button">
                <i class="ui write icon"></i>Ändern
              </button> <br> <br>
              <button class="ui red button" {{action "delete" item}}>
                <i class="ui trash icon"></i>Löschen
              </button>
            </div>
          {{/ui-accordion}}
        {{/each}}
      {{outlet}}
    </div>
  </div>
  <div class="three wide column"></div>
</div>